@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Nunito|Open+Sans|Roboto&display=swap');

/* Global Fonts and Colors */
:root {
    /* Fonts */
    --Roboto: 'Roboto', sans-serif;
    --Nunito: 'Nunito', sans-serif;
    --Lato: 'Lato', sans-serif;
    --Montserrat: 'Montserrat', sans-serif;
    --OpenSans: 'Open Sans', sans-serif;

    /* Colors */
    --primary: ;
    --secondary: ;
    --bggradient: ;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {

    /* position: relative; */
    /* height: calc(var(--vh, 1vh) * 11); */
    height: 100vh;
}

.navbar-container {

    background-color: #ffffff;
    /* border-bottom: 6px solid red; */
    /* height: calc(var(--vh, 1vh) * 10); */
    /* 	height: 19vh; */
    z-index: 2;
}

.img-main {
    position: relative;
    border-top: 4px solid gray;
    margin-bottom: 5px;

}

.hero h1 {
    font-size: 3.0rem;
    color: whitesmoke;
    position: absolute;
    top: 40%;
    bottom: 50%;
    z-index: 4;
    font-family: var(--Lato);
}

.hero {
    /* height: calc(var(--vh, 1vh) * 90); */
    height: 88vh;

}


/* .item {
    position: static;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    background-color: red;
    border: 1.5px solid grey;
    border-radius: 5px;
} */


.nav-item a {
    font-size: 25px;
    padding: 22px;
    margin-bottom: -10px;
    color: black;
    font-weight: 500;
}


header .navbar-brand {
    padding-left: 1.1rem;
    font-size: 1.7em;
    color: blue;
    font-weight: 700;
}

header .nav-link:hover {

    color: red;

}



/* about */
#about {}

.about-section {
    height: 100vh;

}

.about {
    position: relative;
}

.about img {
    margin: 100px 170px;
    width: 75%;
    position: relative;
    height: auto;
    border-left: 5px solid red;
    border-top: 5px solid red;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}


.about-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-text h1,
h3 {
    color: whitesmoke;
    font-family: var(--Lato)
}

.about-text h1{
    font-size: 3.4rem;
}




.plans {
    height: 100vh;
}



.container {

    padding-top: 4vmin;
    padding-bottom: 4vmin;
}

.container p {
    font-size: 3vmin;
}

.card {
    width: 23em;
    margin: 1.6em;
    margin-top: 2vmin;
    margin-bottom: 8vmin;
}

.card-img-top {
    border-bottom: 5px solid red;
}

.card .card-text {
    padding: 0.4em;
}

.card-body>a {
    font-size: 1.3em;
}




.getInvolved {
    height: 100vh;

}

.getInvolved-section{
    margin-top: 50px;
}

.orgs {
    background-color: grey;
    margin: 80px 170px;
    width: 75%;
    padding: 35px;
}

.orgs h3,
.orgs p {
    padding: 3px;
    color: white;
}

.contact {
    height: 60vh;
    padding: 4vmin;
    padding-top: 2vmin;
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);

}

.contact-section {
    margin-top: 20px;
    padding: 60px;
    background-color: whitesmoke;
}


.input-field {
    position: relative;
    width: 100%;
}

.input-field input,
.input-field textarea {
    width: 100%;
    padding: 0px 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #666;
    font-size: 12px;
    color: black;
    font-weight: 500;
    resize: none;
}

.contact .btn {
    margin-top: 10px;
    background: #ff006a;
    color: #fff;
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.5s;
}

.contact .btn:hover {
    background: #dd2476;
}

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    height: 40vh;
    width: 100%;
}

footer .sp {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    /* background: var(--bggradient); */
    border: none;
}

footer .column i {
    color: #dd2476;
    margin: 0.4rem
}

footer .column i+i {
    padding: 0 0.5em;
}